APP_NAME=Sanmati
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://sanmatijournal.in

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
ADMIN_PASSWORD=
QUEUE_CONNECTION=database

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=sanmatijournal@gmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=smtps
MAIL_FROM_ADDRESS="sanmatijournal@gmail.com"
MAIL_FROM_NAME="Sanmati Journal"
